

 header {
  background-color: green;
  width: 100%;
  position: absolute;
  display: inline-block;
  top: 0
  left: 0;
  padding: 0;
}

.presentation h1 {
  background-color: black;
  position: relative;
}

h1 {
  color: pink;
}
