/*
Colors used:
Background Color (Purple): #E7E0EA
*/
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #e7e0ea;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

header {
  position: fixed;
  height: auto;
  background-color: #e6c0da;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0px auto;
  border-bottom: 2px solid #4a4a4a;
  width: 100%;
  top: -10px;
  text-align: center;
  display: inline-block;
}

.logo {
  max-width: 250px;
  float: center;
  padding-top: 20px;
}

nav {
  background: none;
  height: auto;
  width: 100%;
  padding: inherit;
  margin: auto;
}

nav > ul {
  list-style-type: none;
  display: contents;
  margin: 0;
}

/* HERO section style starts here */
#hero {
  background-color: none;
  padding-bottom: 20px;
}

#hero h1 {
  text-align: center; /* Centers text */
  padding-top: 10px;
  padding-left: 10px;
  position: static;
}
.paragraph-style {
  font-size: 1.25em;
  font-weight: 400;
}

main {
  margin-left: 20px;
  padding-top: 330px;
}
footer {
  margin-left: 20px;
}

/* Change the link color to #6e6e6e on hover */
li a:hover {
  background-color: #6e6e6e;
}

img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: green;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color: #271b81;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
}
.btn-default {
  border-radius: 3px;
  text-decoration: underline;
  color: black;
}

.button:active {
  color: black;
  background-color: green;
}
.container{
  padding-top: 0px;
}
/* ==============================
Small devices (320px and larger)
================================= */
@media only screen and (max-width: 639px) {
  header {
    position: absolute;
    align-items: center;
    background-color: none;
    text-align: center;
    padding: 0px 0;
}
ul {
  display: contents;
}
.row {
  margin: 10px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: -2px;
}

#id {
  margin: 20px;
}
}
