/*
Colors used:
Background Color (Purple): #E7E0EA
*/
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #e7e0ea;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

nav{
  background: none;
  height: auto;
  width: 100%;
  padding: inherit;
  margin: auto;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li{
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

header {
  position: fixed;
  height: auto;
  background-color: #e6c0da;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px auto;
  border-bottom: 2px solid #4a4a4a;
  width: 100%;
  top: -10px;
  text-align: center;
  display: inline-block;
}

main {
  padding-top: 400px;
}
/* Change the link color to #6e6e6e on hover */
li a:hover {
  background-color: ##6e6e6e;
}

#hero h1 {
  text-align: center; /* Centers text */
  padding-left: 10px;
  position: static;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: green;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #271b81;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.container {
  padding: 0 20px;
}

.button {
}
.btn-default {
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background-color: green;
}
.button:active {
  color: black;
  background-color: green;
}
/* Layout styling */

.row {
  margin: 10px 0; /* 25px top and bottom, 0 left and right */
}

#work .row{
  padding-bottom: -2px;
}


  color: #4a4a4a;
}
